<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Mockup</title>

        <!-- Repository for reference -->
        <!-- https://github.com/scottafraser/Extreme_POS.git-->

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

        <!-- wwwroot -->
        <link href="~/css/styles.css" rel="stylesheet">
        <script type="text/javascript" src="~/js/scripts.js"></script>

        <!-- AJAX -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>      
        
    </head>
    <body>
        <div class="grid">

            <!-- Navigation -->
            <div class="navigation grid-piece">
                <div class="ui-nav">
                    <div class="permissions">
                        <div>
                            <button id="server" type="button" class="btn btn-link btn-sm">Server</button>  
                        </div>
                        <div>
                            <button id="admin" type="button" class="btn btn-link btn-sm">Admin</button>
                        </div>
                    </div>
                </div>
                <div class="ui-nav menu"><button id="tables" type="button" class="btn btn-link btn-sm">Tables</button></div>

                <div class="ui-nav menu"><button id="food" type="button" class="btn btn-link btn-sm">Food</button></div>
                <div class="ui-nav menu"><button id="drinks" type="button" class="btn btn-link btn-sm">Drinks</button></div>
            </div>

            <!-- Tabs -->
            <div class="tabs-field grid-piece">
                
            </div>

            <!-- User Interface --> 
            <div class="ui-display grid-piece">


                <!-- Tables -->
                <div id="tables-display" class="display">
                    <div class="restaurant-grid">
                        <div class="table-1">
                            <div class="table-grid">
                                <div class="seat seat-1"><span class="label">Seat 1</span></div>
                                <div class="seat seat-2"><span class="label">Seat 2</span></div>
                                <div class="wide-table"><span class="label">Table 1</span></div>
                                <div class="seat seat-3"><span class="label">Seat 3</span></div>
                                <div class="seat seat-4"><span class="label">Seat 4</span></div>
                            </div>
                        </div>
                        <div class="table-2">
                            <div class="table-grid">
                                <div class="seat seat-1"><span class="label">Seat 1</span></div>
                                <div class="seat seat-2"><span class="label">Seat 2</span></div>
                                <div class="wide-table"><span class="label">Table 2</span></div>
                                <div class="seat seat-3"><span class="label">Seat 3</span></div>
                                <div class="seat seat-4"><span class="label">Seat 4</span></div>
                            </div>
                        </div>
                        <div class="table-3">
                            <div class="table-grid">
                                <div class="seat seat-1"><span class="label">Seat 1</span></div>
                                <div class="seat seat-2"><span class="label">Seat 2</span></div>
                                <div class="wide-table"><span class="label">Table 3</span></div>
                                <div class="seat seat-3"><span class="label">Seat 3</span></div>
                                <div class="seat seat-4"><span class="label">Seat 4</span></div>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="bar-grid">
                                <div class="seat seat-1"><span class="label">Seat 1</span></div>
                                <div class="seat seat-2"><span class="label">Seat 2</span></div>
                                <div class="seat seat-3"><span class="label">Seat 3</span></div>
                                <div class="seat seat-4"><span class="label">Seat 4</span></div>
                                <div class="seat seat-5"><span class="label">Seat 5</span></div>
                                <div class="bar-table"><span class="label">Bar</span></div>
                            </div>
                        </div>
                    </div>
                </div>


                
                <!-- Food -->
                <div id="food-display" class="display">
                    
                </div>
                
                <!-- Drinks -->
                <div id="drinks-display" class="display">
                   

                </div>
                
            </div>

            <!-- Ticket --> 
            <div class="ticket-display grid-piece">
                <div class="ticket-grid">
                    <div class="ticket-number"><span class="label">Ticket #</span></div>
                    <div class="mar food-orders">
                        <table class="table">
                            <thead>
                                <tr>                           
                                    <th scope="col">Order: Meals</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="mar drink-orders">
                        <table class="table">
                            <thead>
                                <tr>                           
                                    <th scope="col">Order: Drinks</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="mar total d-flex justify-content-between">
                        <div>Total:</div><div>Total</div>
                    </div>
                </div>
            </div>

            <!-- Footer --> 
            <div class="footer grid-piece"></div>
            
        </div>
    </body>
</html>