@{
    ViewData["Title"] = "Map";
}

<div class="bar-container">
    <div>
        <h1>SeatMap</h1>
    </div>

    <div class="circle">
        <div class="aligner">
         Bar 1
        </div>
    </div>
    <div class="circle">
        <div class="aligner">
          Bar 2
        </div>
    </div>
    <div class="circle">
        <div class="aligner">
          Bar 3
        </div>
    </div>
    <div class="circle">
        <div class="aligner">
          Bar 4
        </div>
    </div>
    <div class="circle">
        <div class="aligner">
          Bar 5
        </div>
    </div>
</div>

<ul class="flex-container">
  <li class="flex-item"> Table 1</li>
  <li class="flex-item">Table 2</li>
  <li class="flex-item">Table 3</li>
  <li class="flex-item">Table 4</li>
  <li class="flex-item">Table 5</li>
  <li class="flex-item">Table 6</li>
</ul>