@{
    ViewData["Title"] = "Map";
}


<div>
    <h1>SeatMap</h1>
</div>


<ul class="flex-container">
  <li class="flex-item"> Table 1</li>
  <li class="flex-item">Table 2</li>
  <li class="flex-item">Table 3</li>
  <li class="flex-item">Table 4</li>
  <li class="flex-item">Table 5</li>
  <li class="flex-item">Table 6</li>
</ul>