@{
    Layout = "_Layout";
}

<div>
    <p>Are you sure?  You'll have to re-enter all food items if you proceed.</p>
    <a href="/food">Return to food main page</a><span> | </span>
    <a href="/food/delete">Delete all food</a>
</div>