@{
    ViewData["Title"] = "Food Home";
}

<div class="bar-container">
    <div>
        <h1>SeatMap</h1>
    </div>

    <div class="circle">
        <div class="aligner">
         Bar 1
        </div>
    </div>
    <div class="circle">
        <div class="aligner">
          Bar 2
        </div>
    </div>
    <div class="circle">
        <div class="aligner">
          Bar 3
        </div>
    </div>
</div>

<ul class="food-container">
  <li class="food-item">Entrees</li>
  <li class="food-item">Apps</li>
  <li class="food-item">Desserts</li>
</ul>


<!--    <div class="col-md-2">
        <strong><a href="/food/@food.Id/details">@food.Name</a></strong>
    </div>
    <div>
        <strong>@food.Price</strong>
    </div>
    <div>
        <small><a href="/food/@food.Id/Update">Update</a></small><span> | </span>
    </div>
    <div>
        <small><a href="/food/@food.Id/delete">Delete</a></small>
    </div>
    <div class="col-md-9"></div>
    <hr />
    }
    }
</div>


<ul class="food-container">
  <li class="food-item">Entrees</li>
</ul>