@{
    Layout = "_Layout";
    ViewData["Title"] = "Food Home";
}


<div>
    <div>
        <p>
            <a href="/stylist/add">Add New Food Item</a>
            <span>|</span>
            <a href="/stylist/confirm">Delete Food Items</a> @*delete all confirm page*@
        </p>
    </div>
</div>


<ul class="food-container">

    
@foreach (var food in Model)
{
  <li class="food-item"><a href="/foods/@food_id/@user_id/order">@food.Name</a></li>
}

</ul>

