@{
    Layout = "_Layout";
}

<div>
    <p>Are you sure?  You'll have to re-enter all drink items if you proceed.</p>
    <a href="/drink">Return to drink main page</a><span> | </span>
    <a href="/drink/delete">Delete all drinks</a>
</div>