@{
    Layout = "_Layout";
    ViewData["Title"] = "Drink Home";
}


<ul class="food-container">

    
@foreach (var food in Model)
{
  <li class="food-item"><a href="/foods/@food.Id/details">@food.Name</a></li>
}

</ul>