@foreach (var ticket in Model.AllTickets)
{
    <h5 class="card-title"><strong>Server: </strong>@ticket.User_Id.Name</h5>
    <h5 class="card-title"><strong>Table Number: </strong>@ticket.Table_Id.Number</h5>
}